h1
{
	padding: 12px;
	border-top:2px solid #fff;
	border-bottom: 2px solid #fff;
}

h2
{
	font-size:30px;
}

h3
{
	font-size: 24px;
}

p
{
	font-size: 18px;
	letter-spacing: 1px;
}
nav
{
	background: transparent;
	height: 50px;
}
ul
{
	margin: 0;
}
#banner
{
	margin-top: 100px;
	background: transparent;
	height:700px;
	/*background-image: url(banner.jpg);*/
	/*background-image: url(../img/banner2.jpg);*/
	/*background-image:url(img/pic01.jpg);*/
}


nav ul
{
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li, nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a
{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

nav ul li.logo
{
	float: left;
}	

.logo a
{
	text-decoration: none;
}	
#banner .inner
{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 240px;
	color: #fff;
}

#banner .inner h1
{
	margin: 0px 0;
}

button
{
	border: none;
	background: #333;
	color: #eee;
	padding: 10px;
}

#banner button
{
	padding: 10px 20px;
	font-size: 20px;
	letter-spacing: 4px;
	border-radius: 6px;
	background: #18a;
}

#banner .inner .more
{
	margin-top: 200px;
}

.sub-heading
{
	line-height: 30px;
	margin: 30px 0;
	font-size: 18px;
}

.logo
{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}

.logo a
{
	padding: 10px;
	color: #fff;
}

hr
{
	margin: 0;
}

.hr
{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}

.content
{
}

.green-section
{
	background: #089DB0;
	color:#fff;
	text-align: center;
	padding: 135px 0;
}

.wrapper
{
	max-width: 1080px;
	margin: 0px auto;
}

.green-section .hr
{
	background: #078494;
	width: 60%;

}

.icon-group
{
	margin-top: 0px;
}
.green-section .icon-group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #076679;
	transform: rotate(45deg);
	margin: 20px;
}

.gray-section
{
	background: #252F34;
	color: #fff;
}
.gray-section .img-section
{
	width: 50%;
}

.img-section img
{
	width: 100%;
}

.gray-section .text-section
{
	width: 50%;
	position: relative;
	top: 100px;
	left: 50px;
}

.article-preview
{
	font-size: 0;
}

.article-preview > div
{
	float: left;

}

.article-preview:nth-child(odd)
{
	background-color: rgba(255,255,255,0.05);
}
.article-preview:after
{
	content: '';
	display: block;
	clear: both;
}

.text-section h2
{
	font-size: 22px;
	margin-bottom: 20px;
}

.text-section > *
{
	width: 90%;
}

.text-section p
{
	font-size: 18px;
	letter-spacing: 1px;
}

.text-section .sub-heading
{
	margin-top: 0;
	font-size: 15px;
	letter-spacing: 1px;
}

.purple-section
{
	padding:80px;
	background:#3F3965;
	color:#fff;
}

.purple-section .heading-wrapper
{
	text-align: center;
}

.purple-section .hr
{
	width: 60%;
	background: #373259;
}

.card
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.clearfix:after
{
	content: '';
	display: block;
	clear: both;	
}

.card:first-child
{
	background: rgba(0,0,0,0.05);
}

.card:nth-child(2)
{
	background: rgba(0,0,0,0.09);
}
.card:nth-child(3)
{
	background: rgba(0,0,0,0.13);
}
.card:nth-child(4)
{
	background: rgba(0,0,0,0.17);
}
.card:nth-child(5)
{
	background: rgba(0,0,0,0.21);
}
.card:nth-child(6)
{
	background: rgba(0,0,0,0.25);
}

footer
{
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}

ul.share-group
{
	display: block;
	width:1080px;
	padding: 50px;
	margin:0 auto;
}

.share-group li
{
	display: inline-block;
	padding: 10px;
}

.copy
{
	padding-bottom: 20px;
}

.main-wrapper
{
	background: #444 url(../img/banner2.jpg);
}



